.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav {
  user-select: none;
}

.full-width {
  width: 100%;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 0px;
}

.submenu.expanded {
  transform: scaleY(1);
}

.mat-drawer.mat-drawer-side {
  z-index: 2;
  top: 64px;
}

@media screen and (max-width: 768px) {
  /* .sideNavLogo {
    display: none;
  }

  .nav{
    display:none;
  } */
}

.subscribe-btn {
  background-color: #d82a1b;
  color: #e2c17f;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #4a3a2b; 
}

.subscribe-btn:focus {
  outline: none;
}