<div mat-dialog-content>
    <h3 mat-dialog-title><b>FLOOR</b></h3>
    <div class="container mb-5">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Site Name</mat-label>
                        <mat-select formControlName="siteName" placeholder="Site Name"  [(ngModel)]="siteId" 
                         [disabled]="true">
                          <mat-option *ngFor="let site of siteList" [value]="site.id">
                            {{ site.siteName }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('siteName')?.hasError('required')">
                          Site Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>        
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Wing Name</mat-label>
                        <mat-select formControlName="wingName" placeholder="Wing Name">
                          <mat-option *ngFor="let wing of wingList" [value]="wing.id">
                            {{ wing.name }} - {{wing.siteName}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('wingName')?.hasError('required')">
                          Wing Name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                </div>
                
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Floor Name </mat-label>
                        <input formControlName="name" matInput placeholder="Floor Name " autocomplete="off">
                        <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
                            Floor Name  <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    
                </div>

                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Floor Type</mat-label>
                        <mat-select formControlName="floorType" placeholder="Floor Type">
                          <mat-option *ngFor="let floor of floorTypeList" [value]="floor.name">
                            {{ floor.name }}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('floorType')?.hasError('required')">
                            Floor Type is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                </div>
                
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Status</mat-label>
                        <mat-select formControlName="isActive" placeholder="isActive">
                            <mat-option *ngFor="let isActive of isActiveList" [value]="isActive.isActive">{{isActive.isActive}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('isActive')?.hasError('required')">
                            isActive Type is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row" style="display: flex; justify-content: center">
                <div class="col-md-6 col-lg-4 col-sm-12" >
                    <button mat-flat-button class="button button4" color="warn" mat-dialog-close style="margin-left:25px">CANCEL</button>
                    <button mat-flat-button class="button button4" color="primary"
                    (click)="postData()" style="margin-left: 10px;">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </div>
</div>