<div style="text-align:center">
	<div class="web-cam">
		<webcam [height]="350" [width]="350" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
			*ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
			[videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
			(initError)="handleInitError($event)"></webcam>
		<br />
	</div>
	<br>
	<div class="actionBtn" (click)="triggerSnapshot();">📸</div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
	<li>{{error | json}}</li>
</ul>