.actionBtn {
    font-size: 4em;
    cursor: pointer;
  }

.snapshot img{
    position: relative;
    text-align: center;
    width:  50px;
    height: 50px;
    border-radius: 125px;
    margin: 0 auto;
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}
