.example-spacer {
    flex: 1 1 auto;
}

.button {
    border-radius: 50%;
}

.button {
    background-color: primary;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10%;
    margin: 4px 2px;
}

.button1 {
    border-radius: 2px;
}

.button2 {
    border-radius: 4px;
}

.button3 {
    border-radius: 8px;
}

.button4 {
    border-radius: 30px;
}

.button5 {
    border-radius: 50%;
}

/* .mat-table {
    table-layout: fixed;
  } */
  
  .mat-cell,
  .mat-header-cell {
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    padding: 8px;
  }

  @media (min-width: 350px) and (max-width: 575px) { 
    .row{
        width: 100%;
        overflow-x:auto;
    }

    .mat-raised-button{
        line-height: 20px;
        margin-right: 10px;
        width: 150px;
    }
}

  @media (min-width: 576px) { 
    .mat-table .mat-cell {
        font-size: 15px;
        
    }
    .mat-table .mat-header-cell{
        font-size: 15px;
    }
    .mat-table{
        width: 100%;
        overflow-x:scroll;
    }
    .row{
        width: 100%;
        overflow-x:auto;
    }

    
  }

  @media (min-width: 768px) {
    .mat-table .mat-cell {
        font-size: 15px;
        
        
    }
    .mat-table .mat-header-cell{
        font-size: 15px;
    }
    .mat-table{
        width: 100%;
        overflow-x:scroll;
    }
    .row{
        width: 100%;
        overflow-x:auto;
    }
   }

  @media (min-width: 992px) { 
    .mat-table .mat-cell {
        font-size: 15px;
    }
    .mat-table .mat-header-cell{
        font-size: 15px;
    }
    .mat-table{
        width: 100%;
        overflow-x:scroll;
    }
    .row{
        width: 100%;
        overflow-x:auto;
    }

  }