<div mat-dialog-content>
    <h3 mat-dialog-title><b>MENU</b></h3>
    <div class="container mb-5">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Menu Name</mat-label>
                        <input formControlName="menuName" matInput placeholder="Menu Name" autocomplete="off">
                        <mat-error *ngIf="formGroup.get('menuName')?.hasError('required')">
                            Menu Name <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Menu Url</mat-label>
                        <input formControlName="menuUrl" matInput placeholder="Menu Url" autocomplete="off">
                        <mat-error *ngIf="formGroup.get('menuUrl')?.hasError('required')">
                            Menu Url <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Menu Type</mat-label>
                        <mat-select formControlName="type" placeholder="type">
                            <mat-option value="Parent">Parent</mat-option>
                            <mat-option value="Child">Child</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('type')?.hasError('required')">
                            Menu Type is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Parent Id</mat-label>
                        <input formControlName="parentId" matInput placeholder="Parent Id" autocomplete="off">
                        <mat-error *ngIf="formGroup.get('parentId')?.hasError('required')">
                            Parent Id <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Menu Icon</mat-label>
                        <input formControlName="menuIcon" matInput placeholder="Menu Icon" autocomplete="off">
                        <mat-error *ngIf="formGroup.get('menuIcon')?.hasError('required')">
                            Menu Icon <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Select Status</mat-label>
                        <mat-select formControlName="isActive" placeholder="isActive">
                            <mat-option *ngFor="let isActive of isActiveList"
                                [value]="isActive.isActive">{{isActive.isActive}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('isActive')?.hasError('required')">
                            isActive Type is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center">
                <div class="col-md-6 col-lg-4 col-sm-12" >
                    <button mat-flat-button class="button button4" color="warn" mat-dialog-close style="margin-left:45px">CANCEL</button>
                    <button mat-flat-button class="button button4" color="primary"
                        (click)="postData()" style="margin-left: 10px;">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </div>
</div>