.container {
  background-color: #d82a1b;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent scrolling */
}

.container::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Webkit browsers */
}


.main-logo {
  max-width: 100px; 
  height: auto;
  object-fit: contain;
}


.site-logo {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

.mat-form-field {
  margin-bottom: 15px;
}


button.mat-raised-button {
  background-color: #d82a1b;
  color: white;
  border-radius: 5px; 
}

@media (max-width: 768px) {
  .main-logo,
  .site-logo {
    max-width: 100px; 
  }

  .row {
    text-align: center;
  }

  .container {
    padding: 10px; 
  }
}


@media(max-width: 320px){
  .main-logo,
  .site-logo {
    max-width: 100px;
  }

  .row {
    text-align: center;
  }

  .file-name img { 
    width: 100%; 
  }

  .mat-form-field {
    margin-bottom: 12px; 
  }

  button.mat-raised-button {
    width: 100%;
  }
}

@media(max-width: 375px) {
  .main-logo,
  .site-logo {
    max-width: 120px;
  }

  .row {
    text-align: center;
  }

  .file-name img { 
    width: 120px;  
  }

  button.mat-raised-button {
    width: 100%;
  }
}


.card {
  margin: 20px 0; 
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
}


.mat-form-field button {
  width: 100%;  
  text-align: center;
  margin-top: 10px;
}

.file-name {
  margin-top: 10px;
}
