.container {
  background-color: #d82a1b;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent scrolling */
}

.container::-webkit-scrollbar {
  display: none; /* Hides the scrollbar in Webkit browsers */
}


.main-logo {
  max-width: 100px; 
  height: auto;
  object-fit: contain;
}


.site-logo {
  max-width: 150px;
  height: auto;
  object-fit: contain;
}

.mat-form-field {
  margin-bottom: 15px;
}


button.mat-raised-button {
  background-color: #d82a1b;
  color: white;
  border-radius: 5px; 
}

@media (max-width: 768px) {
  .main-logo,
  .site-logo {
    max-width: 100px; 
  }

  .row {
    text-align: center;
  }

  .container {
    padding: 10px; 
  }
}


@media(max-width: 320px){
  .main-logo,
  .site-logo {
    max-width: 100px;
  }

  .row {
    text-align: center;
  }

  .file-name img { 
    width: 100%; 
  }

  .mat-form-field {
    margin-bottom: 12px; 
  }

  button.mat-raised-button {
    width: 100%;
  }
}

@media(max-width: 375px) {
  .main-logo,
  .site-logo {
    max-width: 120px;
  }

  .row {
    text-align: center;
  }

  .file-name img { 
    width: 120px;  
  }

  button.mat-raised-button {
    width: 100%;
  }
}


.card {
  margin: 20px 0; 
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 20px;
}


.mat-form-field button {
  width: 100%;  
  text-align: center;
  margin-top: 10px;
}

.file-name {
  margin-top: 10px;
}


/* modal css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal content */
.modal-content {
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease;
  overflow: hidden;
}

/* Header */
.modal-header {
  background-color: #d82a1b;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.modal-title {
  margin: 0;
  font-size: 1.2em;
}

.close-btn {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
}

/* Body */
.modal-body {
  padding: 20px;
  text-align: left;
  font-size: 0.95em;
  line-height: 1.5;
}

/* Footer */
.modal-footer {
  padding: 10px 20px;
  text-align: right;
  border-top: 1px solid #eee;
}

.accept-btn {
  background-color: #d82a1b;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  width: 100%;
  text-transform: uppercase;
}

.accept-btn:hover {
  background-color: #b22417;
}

/* Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}