<div class="container py-4 px-5 mx-md-5 my-md-2">
    <div class="row justify-content-center">
        <div class="align-items-center col-6 col-md-4 d-flex justify-content-center">
            <img [src]="logo" alt="logo" class="siteLogo" style="width: 250px;">
        </div>
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow-sm border-0">
                <div class="card-body p-4">
                    <div class="text-center">
                        <img src="../../assets/images/Hello logo.svg" alt="Logo" class="img-fluid main-logo">
                    </div>
                    <form [formGroup]="check_InForm">
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12 mb-3">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Mobile No</mat-label>
                                    <input matInput type="number" placeholder="Please enter your mobile no"
                                        formControlName="mobileNo" />
                                    <mat-error *ngIf="submitCheckinForm && check_InForm.get('mobileNo')?.hasError('required')">
                                        <span>
                                            required field
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-sm-12 mb-3">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Full Name</mat-label>
                                    <input matInput type="text" placeholder="Enter your full name"
                                        formControlName="fullName" />
                                    <mat-error *ngIf="submitCheckinForm && check_InForm.get('fullName')?.hasError('required')">
                                        <span>
                                            required field
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12 mb-3">
                                <mat-form-field appearance="outline">
                                    <input hidden matInput readonly name="name" />
                                    <button type="button" mat-raised-button (click)="fileInput.click()">Capture
                                        Image</button>
                                    <input hidden (change)="onFileSelected($event)" #fileInput type="file"
                                        accept=".jpeg/*" capture="camera">
                                </mat-form-field>
                                <span class="file-name" *ngIf="image !== ''">
                                    <img [src]="image" style="width: 100px;">
                                </span>
                                <mat-error *ngIf="image === ''">
                                    <span>
                                        required field
                                    </span>
                                </mat-error>
                            </div>
                            <div class="col-md-6 col-sm-12 mb-3">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Coming From</mat-label>
                                    <input matInput type="text" placeholder="Enter your location"
                                        formControlName="location" />
                                    <mat-error *ngIf="submitCheckinForm && check_InForm.get('location')?.hasError('required')">
                                        <span>
                                            required field
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-12 col-sm-12">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Select Unit</mat-label>
                                    <mat-select formControlName="unitId">
                                        <input matInput type="text" placeholder="Search unit name here..."
                                            class="search-input" (keyup)="filterUnits($event)" style="text-align: center; height: 38px;" />
                                        <mat-option *ngFor="let data of filteredUnitList" [value]="data?.id">
                                            {{ data?.name}} - {{data?.unitNumberName}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="submitCheckinForm && check_InForm.get('unitId')?.hasError('required')">
                                        <span>
                                            required field
                                        </span>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row text-center">
                            <button mat-raised-button style="background-color: #d82a1b; color:white" class="px-4 w-100"
                                (click)="checkIn()">
                                Check-In
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Popup Modal -->
<div *ngIf="showPopup" class="modal-overlay">
  <div class="modal-content">
    <!-- Header -->
    <div class="modal-header">
      <h3 class="modal-title">Visitor Policy</h3>
    </div>

    <!-- Body -->
    <div class="modal-body">
      <p>
        We highly value both you and the information you provide. We make every effort to maintain 
        the security of the information within our secure database. We do not disclose your information to third parties.
      </p>
      <h4>Information Collected:</h4>
      <ul>
        <li>Mobile number, Name, Photo</li>
        <li>Location</li>
        <li>Place of visit</li>
      </ul>
    </div>

    <!-- Footer -->
    <div class="modal-footer">
      <button (click)="acceptPolicy()" class="accept-btn">ACCEPT</button>
    </div>
  </div>
</div>
