<div mat-dialog-content>
  <h3 mat-dialog-title><b>MEETING ROOM PRICE</b></h3>
    <div class="container mb-5">
      <form [formGroup]="formGroup">
        <div class="row">
          <div class="col-md-6">
            <!-- <mat-form-field appearance="outline">
              <mat-label>Branch Name</mat-label>
              <mat-select formControlName="branchId" placeholder="Branch Name">
                <mat-option *ngFor="let branch of branchList"
                  [value]="branch.branchName">{{branch.branchName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('branchId')?.hasError('required')">
                Branch Name is <strong>required</strong>
              </mat-error>
            </mat-form-field> -->
            <mat-form-field appearance="outline">
              <mat-label>Search Branch</mat-label>
              <input matInput placeholder="Search Branches" formControlName="branchId"
                  (input)="filterBranches($event)" (focus)="showAllBranches()" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let branch of filteredBranches" [value]="branch.branchName">
                      {{ branch.branchName }} || {{ branch.stateName }}
                  </mat-option>
              </mat-autocomplete>
          </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Pricing</mat-label>
              <input type="number" formControlName="pricing_per_hour" matInput placeholder="Pricing Per Hour"
                autocomplete="off">
              <mat-error *ngIf="formGroup.get('pricing_per_hour')?.hasError('required')">
                Pricing Per Hour is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Meeting Room Type</mat-label>
              <mat-select formControlName="meetingRoomTypeId" placeholder="Seat Type">
                <mat-option *ngFor="let meetingRoomType of meetingRoomTypeList"
                  [value]="meetingRoomType.meetingRoomType">{{meetingRoomType.meetingRoomType}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('meetingRoomTypeId')?.hasError('required')">
                MeetingRoom is <strong>required</strong>
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Select Status</mat-label>
              <mat-select formControlName="isActive" placeholder="isActive">
                <mat-option *ngFor="let isActive of isActiveList"
                  [value]="isActive.isActive">{{isActive.isActive}}</mat-option>
              </mat-select>
              <mat-error *ngIf="formGroup.get('isActive')?.hasError('required')">
                isActive Type is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content: center">
          <div class="col-md-6 col-lg-4 col-sm-12" >
              <button mat-flat-button class="button button4" color="warn" mat-dialog-close style="margin-left:45px">CANCEL</button>
              <button mat-flat-button class="button button4" color="primary"
                  (click)="postData()" style="margin-left: 10px;">{{actionBtn}}</button>
          </div>
      </div>
      </form>
    </div>
  </div>