
<div class="loginBox">
    <div class="loginData">
        <h1>Scan QR Code</h1>
        <div class="mobileAppStore">
            <a href="https://play.google.com/store/apps/details?id=com.zentech.hdfcergo"><img src="../../assets/images/play-store.png" alt="Google Pay Store"></a>
            <a href="https://apps.apple.com/us/app/hello-hdfc/id1663709336"><img src="../../assets/images/app-store.png" alt="App Store"></a>
        </div>
        <img src="../../assets/images/thumbnail_HDFC_OneLink_SMall.png" class="center">
        <div class="webAppStore">
            <p>The Hello App is currently available only on mobile. Please scan the QR Code above to download the Hello App.


             <br><br>If you have already downloaded, please follow this path to access the app : Login to Ekam mobile > All Modules > Hello</p>
        </div>
        <div class="mobileAppStore">
            <p>The Hello App is currently available only on mobile. Please click on the above button to download the Hello App.

             <br><br>If you have already downloaded, please follow this path to access the app : Login to Ekam mobile > All Modules > Hello</p>
        </div>
    </div>
</div>



