<!-- <div class="container">
  <div class="row mb-3">
    <div class="col-md-12 col-sm-6" style="display: flex; justify-content: space-around;">
      <button mat-button [color]="selectedTab === 'visitors' ? 'primary' : ''" (click)="selectTab('visitors')">
        Visitor Details
      </button>
      <button mat-button [color]="selectedTab === 'parking' ? 'primary' : ''" (click)="selectTab('parking')">
        Parking Details
      </button>
    </div>
  </div>
</div> -->
  <div>
    <div class="row" style="margin-left: 2px;">
      <!-- <div class="col-sm-4 col-x4-4 col-md-3 mb-sm-3">
        <div class="card" style="background-color: #d82a1b; height: 120px; color: white; font-size: 30px;">
          <div class="card-body">
            <h2>All Invited Visitor</h2>
            <p style="text-align: right;">{{allInvitedVisitor}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="card" style="background-color: #d82a1b;  height: 120px; color: white; font-size: 30px; ">
          <div class="card-body">
            <h2>Todays Invited Visitor</h2>
            <p style="text-align: right;">{{todayInvitedVisitor}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="card" style="background-color: #d82a1b;  height: 120px; color: white; font-size: 30px;">
          <div class="card-body">
  
            <h2>All Non-Invited Visitors</h2>
            <p style="text-align: right;">{{allNonInvitedVisitor}}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3">
        <div class="card" style="background-color: #d82a1b; height: 120px; color: white; font-size: 30px;">
          <div class="card-body">
  
            <h2>Todays Non Invited Visitors</h2>
            <p style="text-align: right; ">{{todayNonInvitedVisitor}}</p>
          </div>
        </div>
      </div> -->

      <div class="row" style="margin-left: 2px; white-space: nowrap; overflow-x: auto;">
        <div class="col-4 col-sm-4 col-md-3 box" *ngFor="let list of visitorBookingList">
          <div class="card"
          [ngStyle]="{'background-color': list?.color}">
            <div class="card-body">
              <p style="text-align: center; color: white; font-size: x-large;"><b> {{list?.total}}</b></p>
              <h2 style="text-align: center; color: white; font-size: large;">
                <i [class]="list.icon" style="text-align: center;">
                  {{addSpaceAndTitleCase(list?.visitorType)}}
                </i>
              </h2>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="card" style="padding: 15px;">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <h3 style="display: flex; justify-content: center"><strong>All Visitors Details</strong></h3>
          </div>
        </div>

        <div class="row">
          <!-- Visitor Stats Section -->
          <div class="col-md-6">
            <div class="visitor-info">
              <div class="d-flex">
                <div class="stat-item me-2">
                  <span class="label">Today's Invited Visitors:</span>
                  <span class="value">{{todayInvitedVisitor}}</span>
                </div>
                <div class="stat-item">
                  <span class="label">Today's Non-invited Visitors:</span>
                  <span class="value">{{todayNonInvitedVisitor}}</span>
                </div>
              </div>
              <div class="d-flex">
                <div class="stat-item me-2">
                  <span class="label">All Invited Visitors:</span>
                  <span class="value">{{allInvitedVisitor}}</span>
                </div>
                <div class="stat-item">
                  <span class="label">All Non-invited Visitors:</span>
                  <span class="value">{{allNonInvitedVisitor}}</span>
                </div>
              </div>
              
              <div class="stat-item">
                <span class="label">Total All Visitors:</span>
                <span class="value">{{allVisitor}}</span>
              </div>
            </div>
          </div>
        
          <!-- Chart Section -->
          <div class="col-md-6">
            <div class="report-section" id="chartOptions2">
              <apx-chart *ngIf="chartOptions2" [series]="chartOptions2.series" [chart]="chartOptions2.chart" 
              [xaxis]="chartOptions2.xaxis" [yaxis]="chartOptions2.yaxis" [colors]="chartOptions2.colors"
              [dataLabels]="chartOptions2.dataLabels" [tooltip]="chartOptions2.tooltip" [plotOptions]="chartOptions2.plotOptions"
              [labels]="chartOptions2.labels" [responsive]="chartOptions2.responsive"></apx-chart>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <div class="card" style="padding: 15px;">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <h3 style="display: flex; justify-content: center"><strong>Parking and Unit Details</strong></h3>
          </div>
        </div>
        <div class="col-md-6">
          <table class="table table-bordered border-primary">
            <thead>
              <tr>
                <th scope="colgroup" colspan="2" style="text-align: center;">Parking</th>
                <th scope="colgroup" colspan="2" style="text-align: center;">Unit</th>
                <!-- <th scope="col" rowspan="2" >Total</th> -->
              </tr>
              <tr>
                <th scope="col" style="text-align: center;">A</th>
                <th scope="col" style="text-align: center;">B</th>
                <th scope="col" style="text-align: center;">A</th>
                <th scope="col" style="text-align: center;">B</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align: center;">
                <td> {{ wingATotal }} </td>
                <td> {{ wingBTotal}} </td>
                <td> {{ wingAUnit}} </td>
                <td> {{ wingBUnit}} </td>
                <!-- <td> {{ detail.name }}</td> -->
              </tr>
            </tbody>              
          </table>
          
          <!-- <div class="wing-floor-container">
            <div class="grid-header">Wing Type</div>
            <div class="grid-header">Floor Type</div>
            <div class="grid-header">Total</div>
            
            <ng-container *ngFor="let detail of parkingDetails">
              <div class="wing-floor-item">
                <div class="wing-type">
                  <strong>Wing A:</strong> 
                  <span [ngClass]="{'active': detail.wingName === 'A', 'inactive': detail.wingName !== 'A'}">
                    {{ detail.wingName === 'A' ? 'Yes' : 'No' }}
                  </span>
                </div>
                <div class="wing-type">
                  <strong>Wing B:</strong> 
                  <span [ngClass]="{'active': detail.wingName === 'B', 'inactive': detail.wingName !== 'B'}">
                    {{ detail.wingName === 'B' ? 'Yes' : 'No' }}
                  </span>
                </div>
          
                <div class="floor-type">
                  <strong>Parking:</strong>
                  <span [ngClass]="{'active': detail.floorType === 'Parking', 'inactive': detail.floorType !== 'Parking'}">
                    {{ detail.floorType === 'Parking' ? 'Yes' : 'No' }}
                  </span>
                </div>
                <div class="floor-type">
                  <strong>Unit:</strong>
                  <span [ngClass]="{'active': detail.floorType === 'Unit', 'inactive': detail.floorType !== 'Unit'}">
                    {{ detail.floorType === 'Unit' ? 'Yes' : 'No' }}
                  </span>
                </div>
              </div>
            </ng-container>
          
            <div class="totals">
              <strong>Total:</strong>
              <span>{{ wingATotal + wingBTotal + parkingTotal + unitTotal }}</span>
            </div>
          </div> -->
          
        </div>
        <div class="col-md-6">
          <div class="report-section" id="chartOptions">
            <apx-chart *ngIf="chartOptions" [series]="chartOptions.series" 
             [chart]="chartOptions.chart" 
             [plotOptions]="chartOptions.plotOptions" 
             [xaxis]="chartOptions.xaxis" 
             [title]="chartOptions.title" 
             [dataLabels]="chartOptions.dataLabels">
            </apx-chart>
          </div>
        </div>
      </div>
    </div>

    <div class="card" style="padding: 15px;" *ngIf="roleName == 'Unit Admin'">
      <div class="row">
        <div class="row">
          <div class="col-md-12">
            <h3 style="display: flex; justify-content: center">
              <strong>Parking Active and Inactive Details</strong>
            </h3>
          </div>
        </div>
       
        <div class="col-md-6">
          <div class="visitor-info">
            <div class="stat-item me-2">
              <span class="label">Parking Active Status:</span>
              <span class="value">{{countTotalActive}}</span>
            </div>
            <div class="stat-item">
              <span class="label">Parking Inactive Status:</span>
              <span class="value">{{countTotalInactive}}</span>
            </div>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="report-section" id="optionChart1">
            <apx-chart *ngIf="optionChart1" [series]="optionChart1.series" [chart]="optionChart1.chart" [labels]="optionChart1.labels"
              [responsive]="optionChart1.responsive" [colors]="optionChart1.colors"></apx-chart>
          </div>
        </div>
      </div>
    </div>
  </div>