<div mat-dialog-content>
    <h3 mat-dialog-title><b>PERMANENT SEAT</b></h3>
    <div class="container mb-5">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Branch</mat-label>
                        <mat-select formControlName="branchId" (selectionChange)="selectStatus($event)" placeholder="Select Branch">
                            <mat-option *ngFor="let branch of branchList"
                                [value]="branch.branchId">{{branch.branchName}} || {{branch.stateName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('branchId')?.hasError('required')">
                            Branch Location is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Employee Code</mat-label>
                        <mat-select formControlName="employeeCode" placeholder="Employee Code">
                            <mat-option *ngFor="let employee of employeeList"
                                [value]="employee.employeeCode">{{employee.employeeCode}} || {{employee.employeeName}} || {{employee.employeeCategory}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('employeeCode')?.hasError('required')">
                            Employee Code is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <!-- <mat-form-field appearance="outline">
                        <mat-label>From Date</mat-label>
                        <input type="date" formControlName="fromDate" matInput placeholder="From Date"
                            autocomplete="off">
                        <mat-error *ngIf="formGroup.get('fromDate')?.hasError('required')">
                            From Date is <strong>required</strong>
                        </mat-error>
                    </mat-form-field> -->
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Seat Number</mat-label>
                        <mat-select formControlName="seatId" placeholder="Seat Number">
                            <mat-option *ngFor="let seat of seatList"
                                [value]="seat.seatId">{{seat.seatNumber}} || {{seat.seatType}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('seatId')?.hasError('required')">
                            Seat Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Select Status</mat-label>
                        <mat-select formControlName="isActive" placeholder="Select Status">
                            <mat-option *ngFor="let isActive of isActiveList"
                                [value]="isActive.isActive">{{isActive.isActive}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('isActive')?.hasError('required')">
                            Seat Number is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" style="display: flex; justify-content: center">
                <div class="col-md-6 col-lg-4 col-sm-12" >
                    <button mat-flat-button class="button button4" color="warn" mat-dialog-close style="margin-left:45px">CANCEL</button>
                    <button mat-flat-button class="button button4" color="primary"
                        (click)="postData()" style="margin-left: 10px;">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </div>
</div>