<div mat-dialog-content>
    <div class="container">
      <div class="row" style="justify-content: center; display: flex;">
        <div class="col-md-12">
          <img style="width: 300px; height: 200px;" [src]="image" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" style="overflow: hidden;">
          <div mat-dialog-actions align="center">
            <button mat-flat-button class="button button4" color="warn" mat-dialog-close>CANCEL</button>
          </div>
        </div>
      </div>
    </div>
</div>
  