<div mat-dialog-content>
    <div class="row">
        <div class="col-md-6">
            <h3 mat-dialog-title><b>SEAT BOOKING</b></h3>
        </div>
        <div class="col-md-6">
            <h3 mat-dialog-title ><b>PENDING BOOKING HOURS : {{pendingCount}} </b></h3>
        </div>
    </div>
    <div class="container mb-5">
        <form [formGroup]="formGroup">
            <div class="container">
                <div class="row" style="position:relative;">
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Enter Employee Code</mat-label>
                            <input type="number" placeholder="Pick one" aria-label="Number" matInput
                                formControlName="employeeCode" [matAutocomplete]="auto" placeholder="Enter Employee Code">
                            <!-- <mat-icon matSuffix>search</mat-icon> -->
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of finaldata | async" [value]="option.employeeCode">
                                    {{option.employeeCode}} | {{option.employeeName}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field appearance="outline">
                            <mat-label>Search Branch</mat-label>
                            <input matInput placeholder="Search Branches" formControlName="branchId"
                              (input)="filterBranches($event)" (focus)="showAllBranches()" [matAutocomplete]="auto1">
                            <mat-autocomplete #auto1="matAutocomplete">
                              <mat-option *ngFor="let branch of filteredBranches" [value]="branch.branchName">
                                {{ branch.branchName }} || {{ branch.stateName }}
                              </mat-option>
                            </mat-autocomplete>
                          <mat-error *ngIf="formGroup.get('branchId')?.hasError('required')">
                            Branch Name is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 newSeatDate">
                        <mat-form-field appearance="outline">
                            <mat-label>Select DateTime</mat-label>
                            <input type="date" formControlName="fromDate" (change)="dateEvent($event)" [min]="minDate" matInput placeholder="Select Booking Date">
                            <mat-error *ngIf="formGroup.get('fromDate')?.hasError('required')">
                              From Date Location is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="formGroup.get('fromDate')?.errors?.['invalidDate']">Invalid date selection</mat-error>
                          </mat-form-field>                           
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>Start Time</mat-label>
                            <input type="time" formControlName="startTime" matInput placeholder="Start Time"
                                autocomplete="off">
                            <mat-error *ngIf="formGroup.get('startTime')?.hasError('required')">
                                Start Time is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="outline">
                            <mat-label>End Time</mat-label>
                            <input type="time" formControlName="endTime" matInput placeholder="End Time"
                                autocomplete="off">
                            <mat-error *ngIf="formGroup.get('endTime')?.hasError('required')">
                                End Time is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div mat-dialog-actions [align]="'end'">
                                <button mat-flat-button class="button button4" color="warn" mat-dialog-close style="width: 150px;">CANCEL</button>
                            </div>
                        </div>
                        <div class="col-md-6" >
                            <div mat-dialog-actions [align]="'start'">
                                <button mat-flat-button class="button button4" color="primary"
                                (click)="getAvilabeSeats()" style="width: 150px;">SEARCH SEAT</button>
                            </div>
                        </div>
                    </div> -->
                    <div class="row" style="display: flex; justify-content: center">
                        <div class="col-md-6 col-lg-4 col-sm-6" style="display: flex;" >
                            <button mat-flat-button class="button button4" color="warn" mat-dialog-close style="margin-right: 10px;">CANCEL</button>
                            <button mat-flat-button class="button button4" color="primary"
                            (click)="getAvilabeSeats()">SEARCH SEAT</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row mb-3"  *ngFor="let row of rows">
                    <div class="col-md-1" *ngFor="let seat of row" (click)="openBookingDialog(seat)">
                        <div class="card card-seat" placement="top" ngbTooltip="Tooltip on top" >
                            {{ seat.seatNumber }} {{ seat.seatType}}
                        </div>              
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>