<div mat-dialog-content>
    <h3 mat-dialog-title><b>SEND MESSAGE</b></h3>
    <div class="container">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Select State</mat-label>
                        <mat-select #select multiple formControlName="stateId">
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected1" [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllSelectionState()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClickState()" *ngFor="let state of stateList" [value]="state.stateId">
                                {{state.stateName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('stateId')?.hasError('required')">
                            stateId is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Select City</mat-label>
                        <mat-select #select1 multiple formControlName="cityId">
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected2" [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllSelectionCity()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClickCity()" *ngFor="let city of cityList" [value]="city.cityId">
                                {{city.cityName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Branch</mat-label>
                        <mat-select #select2 multiple formControlName="branchId">
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected3" [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllSelectionBranch()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClickBranch()" *ngFor="let branch of branchList" [value]="branch.branchId">
                                {{branch.branchName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Department</mat-label>
                        <mat-select #select3 multiple formControlName="departmentId">
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected4" [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllSelectionDepartment()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClickDepartment()" *ngFor="let department of departmentList" [value]="department.departmentId">
                                {{department.departmentName}} || {{department.branchName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Category</mat-label>
                        <mat-select #select4 multiple formControlName="categoryId">
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected5" [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllSelectionCategory()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClickCategory()" *ngFor="let category of categoryList" [value]="category.categoryId">
                                {{category.categoryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-2">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Employee</mat-label>
                        <mat-select #select5 multiple formControlName="employeeCode">
                            <div class="select-all">
                                <mat-checkbox [(ngModel)]="allSelected6" [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllSelectionEmployee()">Select All</mat-checkbox>
                            </div>
                            <mat-option (click)="optionClickEmployee()" *ngFor="let employee of employeeList" [value]="employee.employeeCode">
                                {{employee.employeeCode}} || {{employee.employeeName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-md-12"> -->
                    <!-- <mat-form-field appearance="outline">
                        <mat-label>Select Date & Time</mat-label>
                        <input type="datetime-local" formControlName="dateTime" matInput placeholder="ExpectedExitTime">
                    </mat-form-field> -->

                    <div class="col-md-6">

                        <mat-form-field appearance="outline">
                            <mat-label>Select Date & Time</mat-label>
                            <input type="datetime-local" formControlName="dateTime" (change)="dateEvent($event)" matInput placeholder="Select Date & Time">
                            <mat-error *ngIf="formGroup.get('dateTime')?.hasError('required')">
                                Date & Time is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="formGroup.get('dateTime')?.errors?.['invalidDate']">Invalid date selection</mat-error>
                          </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        
                    <mat-form-field appearance="outline">
                        <mat-label>title</mat-label>
                        <input formControlName="title" matInput placeholder="Please enter title" autocomplete="off">
                        <mat-error *ngIf="formGroup.get('title')?.hasError('required')">
                            title <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    </div>

                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <mat-label>description</mat-label>
                            <textarea type="text" formControlName="description" matInput
                                placeholder="Please enter description" autocomplete="off"></textarea>
                            <mat-error *ngIf="formGroup.get('description')?.hasError('required')">
                                description <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
  
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <input hidden matInput readonly name="name" />
                            <input type="file" #myInput (change)=selectFile($event) id="uploadFile" accept=".pdf"
                                formControlName="attachement" multiple="multiple" />
                        </mat-form-field>
                    </div>

                <!-- </div> -->
            </div>
            <div class="row" style="display: flex; justify-content: center">
                <div class="col-md-6 col-lg-4 col-sm-12" >
                    <button mat-flat-button class="button button4" color="warn" mat-dialog-close style="margin-left:45px">CANCEL</button>
                    <button mat-flat-button class="button button4" color="primary"
                        (click)="postData()" style="margin-left: 10px;">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </div>
</div>