<div class="container">
    <div class="row" style="justify-content: space-around;">
        <div class="col-md-12 mb-3">
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input autocomplete="off">
                    </mat-form-field>
                </div>
                <!-- <div class="col-md-4">

                </div> -->
                <div class="col-md-3">
                    <form [formGroup]="formGroup">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Status</mat-label>
                            <mat-select formControlName="isActiveId" placeholder="isActive"
                                (selectionChange)="selectStatus($event)">
                                <mat-option [value]="0">None</mat-option>
                                <mat-option *ngFor="let isActive of isActiveList" [value]="isActive.isActive">{{
                                    isActive.isActive }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.get('isActiveId')?.hasError('required')">isActive Type is
                                <strong>required</strong></mat-error>
                        </mat-form-field>
                    </form>
                </div>
                <div class="col-md-4 adjust-button-space">
                    <button class="btn_primary " mat-raised-button (click)="openDialog()">
                        ADD NEW
                    </button>
                    <button (click)="exporter.exportTable('xlsx')" class="btn_primary" mat-raised-button>
                        EXPORT TO EXCEL
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <mat-card class="mat-card mat-focus-indicator">
                <mat-card-content class="">
                    <div class="container">
                        <div>
                            <div class="mat-elevation-z8">
                                <table mat-table matTableExporter #exporter="matTableExporter" [dataSource]="dataSource"
                                    matSort>
                                    <!-- Id Column -->
                                    <ng-container matColumnDef="cityId">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ID</b></th>
                                        <td mat-cell *matCellDef="let row;let i = index;"> {{ paginator.pageSize *
                                            paginator.pageIndex + i + 1 }}</td>
                                    </ng-container>

                                    <!-- stateCode Column -->
                                    <ng-container matColumnDef="siteName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>SITE NAME</b></th>
                                        <td mat-cell *matCellDef="let row"> {{row.siteName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="wingName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>WING NAME</b></th>
                                        <td mat-cell *matCellDef="let row"> {{row.wingName}} </td>
                                    </ng-container>

                                    <!-- stateName Column -->


                                    <ng-container matColumnDef="floorName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>FLOOR NAME</b></th>
                                        <td mat-cell *matCellDef="let row"> {{row.floorName}} </td>
                                    </ng-container>

                                    <!-- stateName Column -->
                                    <ng-container matColumnDef="vehicleTypeName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>VEHICLE TYPE</b></th>
                                        <td mat-cell *matCellDef="let row"> {{row.vehicleTypeName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="parkingNumber">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>PARKING NUMBER</b></th>
                                        <td mat-cell *matCellDef="let row"> {{row.parkingNumber}} </td>
                                    </ng-container>

                                    <!-- stateName Column -->
                                    <ng-container matColumnDef="createdOn">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>CREATED ON</b></th>
                                        <td mat-cell *matCellDef="let row"> {{row.createdOn | date: 'dd MMM yyyy'}} </td>
                                        <!-- <td mat-cell *matCellDef="let row"> {{row.createdOn | date:'yyyy-MM-dd' }} </td> -->
                                    </ng-container>

                                    <!-- status Column -->
                                    <ng-container matColumnDef="isActive">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>STATUS</b></th>
                                        <td mat-cell *matCellDef="let row"> {{row.isActive}} </td>
                                    </ng-container>

                                    <!-- Action Column -->
                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header><b>ACTION</b></th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-icon-button color="primary" (click)="editData(row)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button color="warn" (click)="deleteData(row.id)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <!-- Row shown when there is no matching data. -->
                                    <!-- <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"
                                        </td>
                                    </tr> -->
                                </table>

                                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                    aria-label="Select page of users">
                                </mat-paginator>

                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
