<div mat-dialog-content>
    <h3 mat-dialog-title><b>STATE</b></h3>
    <div class="container mb-5">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Select Country</mat-label>
                        <mat-select formControlName="countryId" placeholder="Select Country">
                            <mat-option *ngFor="let country of countryList" [value]="country.countryName">{{country.countryName}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('countryId')?.hasError('required')">
                            country is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>City Name</mat-label>
                        <input formControlName="cityName" matInput placeholder="City Name" autocomplete="off">
                        <mat-error *ngIf="formGroup.get('cityName')?.hasError('required')">
                            City Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field appearance="outline">
                        <mat-label>Select State</mat-label>
                        <mat-select formControlName="stateId" placeholder="Select State">
                            <mat-option *ngFor="let state of stateList" [value]="state.name">{{state.name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('stateId')?.hasError('required')">
                            State is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Select Status</mat-label>
                        <mat-select formControlName="isActive" placeholder="isActive">
                            <mat-option *ngFor="let isActive of isActiveList" [value]="isActive.isActive">{{isActive.isActive}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('isActive')?.hasError('required')">
                            isActive Type is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-6">
                    <div mat-dialog-actions [align]="'end'">
                        <button mat-flat-button class="button button4" color="warn" mat-dialog-close>CANCEL</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div mat-dialog-actions [align]="'start'">
                        <button mat-flat-button class="button button4" color="primary"
                            (click)="postData()">{{actionBtn}}</button>
                    </div>
                </div>
            </div> -->
            <div class="row" style="display: flex; justify-content: center">
                <div class="col-md-6 col-lg-4 col-sm-12" >
                    <button mat-flat-button class="button button4" color="warn" mat-dialog-close style="margin-left:25px">CANCEL</button>
                    <button mat-flat-button class="button button4" color="primary"
                    (click)="postData()" style="margin-left: 10px;">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </div>
</div>