<div class="loginBox">
    <div class="loginData">
        <div class="loginHead">Login</div>
        <div class="container">
            <form class="formMain" [formGroup]="formGroup">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>User Name</mat-label>
                            <input formControlName="userName" matInput placeholder="Email ID" autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="col-md-12">
                        <mat-form-field floatLabel='never' appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" [type]="hide ? 'password' : 'text'" matInput placeholder="Enter your password"
                          formControlName="password" autocomplete="off">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                          [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="formGroup.get('password')?.hasError('required')">
                          Password is <strong>required</strong>
                      </mat-error>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div [align]="'end'">
                          <button mat-flat-button class="button button4" color="warn">CANCEL</button>
                        </div>
                      </div>
                    <div class="col-md-6">
                      <div [align]="'start'">
                        <button mat-flat-button class="button button4" style="background-color: black;" color="primary" (click)="loginProcess()">SUBMIT</button>
                      </div>
                    </div>
                    <p class="text-center mt-3" style="float: right; cursor: pointer;"><a class="text-prima"
                        [routerLink]="['/auth/change-password']" [routerLinkActive]="'is-active'">Forgot Password</a></p>
                </div>
            </form>
        </div>
    </div>
</div>