mat-form-field{
    width:100%;
}

.button {
    border-radius: 50%;
}

.button {
    background-color: primary;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 20%;
    margin: 4px 2px;
}

.button1 {
    border-radius: 2px;
}

.button2 {
    border-radius: 4px;
}

.button3 {
    border-radius: 8px;
}

.button4 {
    border-radius: 30px;
}

.button5 {
    border-radius: 50%;
}

.hi{
    width:50px;
    height:50px;
    background:black;
    margin:10px; color:white;
    padding:20px;
  }

  @media (min-width: 350px) and (max-width: 575px) { 

    .button {
        line-height: 15px;
        background-color: primary;
        border: none;
        color: white;
        padding: 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        /* width: 25%; */
        margin: 0px;
    }
    .mat-dialog-actions{
        justify-content: flex-end;
    }
}  
.button {
    /* Your button styles here */
    font-size: 16px;
    padding: 5px;
    width: 35%;
}

/* Media query for screens smaller than 768px (typical tablets) */
@media (max-width: 768px) {
    .button {
        font-size: 16px;
        padding: 5px 5px;
    }
}

/* Media query for screens smaller than 576px (typical phones) */
@media (max-width: 576px) {
    .button {
        font-size: 12px;
        padding: 5px 5px;
    }
}
