<div class="loginBox">
  <div *ngIf="QrMobile" style="width: 100%;">
    <div class="loginData">
      <div class="loginHead">Enter Mobile Number</div>
      <div class="container">
        <form class="formMain" [formGroup]="formGroup">
          <div class="row mt-4">
            <div class="col-md-12">
              <mat-form-field appearance="fill">
                <mat-label>Mobile Number</mat-label>
                <input type="text" matInput formControlName="mobileNumber" [ngModel]="MobileNumber"
                  placeholder="Please Enter Your Mobile Number" autocomplete="off" maxlength="10">
                <mat-error *ngIf="formGroup.get('mobileNumber')?.hasError('required')">
                  Mobile Number is <strong>required</strong>
                </mat-error>
                <mat-error
                  *ngIf="!formGroup.get('mobileNumber')?.hasError('required') && formGroup.get('mobileNumber')?.hasError('pattern')">
                  Please enter valid mumber
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <div class="mt-4">
                <div class="button float-start">
                  <button mat-stroked-button color="primary" style="background-color: red;color: white;" type="button" (click)="Back1()">Back</button>
                </div>
                <div class="button float-end">
                  <button mat-flat-button color="primary" style="background-color: black;" type="submit" (click)="getMemberStatus()">Next</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="QrOTP" style="width: 100%;">
    <div class="loginData">
      <div class="loginHead">ENTER OTP</div>
      <div class="container">
        <form class="formMain" [formGroup]="formGroup">
          <!-----------mobile start-------->
          <ng-container >
            <div class="row">
              <div class="col-md-12">
                <p class="mt-2">
                  <mat-form-field appearance="fill">
                    <mat-label>OTP Number</mat-label>
                    <input type="number" matInput formControlName="OTP" placeholder="Please Enter 6 Digits Of OTP"
                      autocomplete="off" maxlength="6">
                    <mat-hint>Please Enter 6 Digits Of OTP</mat-hint>
                    <mat-error *ngIf="formGroup.get('OTP')?.hasError('required')">
                      OTP is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </p>
              </div>
              <div class="col-md-12">
                <div class="mt-3" style="display: flex; justify-content: space-between; align-items: center;">
                  <div class="button float-start">
                    <!-- <mat-label>1:00</mat-label> -->
                  </div>
                  <div class="button float-end" mat-dialog-actions>
                    <a mat-button (click)="resend()">Resend Otp</a>
                  </div>
                </div>
                <div class="mt-3" mat-dialog-actions>
                  <div class="button float-start">
                    <button mat-stroked-button color="primary" type="button" style="background-color: red;color:white;" (click)="Back2()">Back</button>
                  </div>
                  <div class="button float-end" mat-dialog-actions>
                    <button mat-flat-button color="primary" type="submit" style="background-color: black;color:white;" (click)="verifyOtp()">Validate</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-----------mobile end-------->
        </form>
      </div>
    </div>
  </div>
  <div  *ngIf="QrDetails" style="width: 100%;">
    <div class="loginData">
      <div class="loginHead">ENTER PASSWORD</div>
      <div class="container">
        <form class="formMain" [formGroup]="formGroup">
          <!-----------details start-------->
          <ng-container >
            <div class="row">
              <div class="col-md-12">
                <p class="mt-2">
                  <mat-form-field appearance="fill">
                    <mat-label>New Password</mat-label>
                    <input type="password" [type]="hide ? 'password' : 'text'" formControlName="password" matInput
                      placeholder="Please Enter Your New Password" autocomplete="off" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="formGroup.hasError('required', 'password')">
                      Please enter your newpassword
                    </mat-error>
                  </mat-form-field>
                </p>
                <p class="mt-2">
                  <mat-form-field appearance="fill">
                    <mat-label>confirm Password</mat-label>
                    <input type="password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" matInput
                      placeholder="Please confirm Your Password" autocomplete="off" [errorStateMatcher]="matcher">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="formGroup.hasError('notSame')">
                      Passwords do not match
                    </mat-error>
                  </mat-form-field>
                </p>
              </div>
              <div class="col-md-12">
                <div class="">
                  <div class="button float-start" mat-dialog-actions>
                    <button mat-flat-button color="primary" style="background-color: black;color:white;" type="submit" (click)="putPassword()">Change Password</button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-----------details end-------->
        </form>
      </div>
    </div>
  </div>
</div>